*,
::before,
::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  margin-block: 1rem
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100vw; height: 100vh;
}

#reloadButton {
  background-color: #333; 
  border: none;           
  border-radius: 5px;     
  font-size: 1rem;
  color: #fff;           
  cursor: pointer;
  padding: 10px 20px;
  position: fixed; bottom: 20px; right: 20px;
  z-index: 1000;          
}